{% block headerinclude %}	
	{% load static %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	<style type="text/css">
		.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

	</style>
{% endblock headerinclude %}

{% block footerinclude %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>


	<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
{% endblock footerinclude %}

{% block content %}
	<div class="container">
		<nav class="navbar navbar-expand-lg">
		  <div class="container">
		    <a href="#" class="navbar-brand">
		      <img src="{% static 'images/cit.jpg' %}" width="80" alt="" class="d-inline-block align-middle mr-2">
		      <span class="text-uppercase font-weight-bold" style="color: black;">ARMS</span>
		    </a>

		    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

		    <div id="navbarSupportedContent" class="collapse navbar-collapse">
		      <ul class="navbar-nav ml-auto">
		      	<li class="nav-item active"><a href='#' class="nav-link_b">Home</a></li>
		      	<li class="nav-item active"><a href='#' class="nav-link_b">Profile</a></li>
		      	<li class="nav-item active"><a href='#' class="nav-link_b">About Us</a></li>
		      	<li class="nav-item active"><a href='#' class="nav-link_a">Hi, User</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div style="text-align: center;">
			 <img src="{% static 'images/pic.jpg' %}" width="85%" height="50%" alt="">
		</div>
		<br>
		<div class="left">
			<div class="input-group md-form form-sm form-1 pl-0">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></span>
			  </div>
			  <input class="width my-0 py-1" type="text" placeholder="Search" aria-label="Search">
			  <div>&nbsp;
			  	<button type="button" class="btn btn-secondary"><i class="fa fa-sort" aria-hidden="true"></i></button>
			  </div>
			</div>
		</div>
		<br>
		<div class="left">
			New Releases
			<div class="flex-container">
				<div class="box">
						 
				</div>
			</div>
		</div>
	</div>
{% endblock content %}