/* search input-group */
.input-group-text{
	background-color: #FFFFFF;
}

.form-control{
	width: 700px;
	border: 1px solid #D3D3D3;
	border-top-left-radius: 1.5rem;
	border-bottom-left-radius: 1.5rem;
	padding-left: 20px;
}

/* others */
.left{
	padding-left:5em;
}

.centered {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 35px;
  color: #FFFFFF;
  text-transform: uppercase;
}


/* Label */
.text{
	font-weight: bold;
	font-family: 'Times New Roman';
	font-size: 20px;
}

/* Logo Position */
.logo{
  text-align: center;
}


/* nav-item list */
.nav-link_b{
  color: #F4CC3C;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-item{
	padding-right: 30px;
}

.nav-link_b:hover {
  	text-decoration: none;
    border-bottom: 2px solid #F4CC3C;
    color: #F4CC3C;
    background: rgba(255,255,255,0.2);
}

/* Images */
.thumbnail{
	cursor: pointer;
	border: 2px solid black;
	width: 190px;
	height: 190px;
	margin-right: 15px;
}

.thumbnail:hover{
	opacity: 2;
}

.thumbnail2{
	cursor: pointer;
	border: 2px solid black;
	width: 180px;
	height: 180px;
	margin-right: 15px;
}

.thumbnail2:hover{
	opacity: 1;
}

/* Book Slider */
.slider {
	width: 850px;
	height: 250px;
	text-align: center;
}

.slider div {
  margin-bottom: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
  padding-top: 1px;
}

.slick-slide {
  opacity: 1;
  width: 10px;
}

.slick-dots{
	top: 200px;
}

.slick-disabled {
    opacity: 0;
    pointer-events:none;
}

/*.slick-center {
  display: block;
  max-width: 10% !important;
  max-height: 20% !important;
  opacity: 2;
}*/


/* Modal Book Details */
.summary{
	font-size: 12px;
	text-align: justify;
	text-indent: 50px;
}

.author{
	font-size: 15px;
	color: #A9A9A9;
}

.title{
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
	color: black;
}

.year{
	font-size: 10px;
	color: #A9A9A9;
	margin-bottom: 10px;
}

.fa-bookmark, .fa-download, .fa-book{
	color: #800000;
}

.count{
	font-size: 10px;
}

.label{
	font-size: 10px;
	margin-right:5px;
	margin-left: 10px;
}


/* Dropdown Button */
.dropbtn {
  background-color: #800000;
  color: #F4CC3C;
  font-size: 16px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4CC3C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #800000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #800000;
  border-bottom: 2px solid #800000;
  background: rgba(255,255,255,0.2);

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #F4CC3C;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: none;
    border-bottom: 2px solid #F4CC3C;
    background: rgba(255,255,255,0.2);
}

/* Button box */
.box{
	margin-top: 5px;
	border: 1px solid #D3D3D3;
	width: 90%;
	height: 70px;
	padding-top: 3px;
	padding-right: 3px;
	padding-left: 3px;
	padding-bottom: 3px;
}

/* Buttons */
.btn-cite{
	border: none;
	background-color: white;
	font-size: 13px;
	color: blue;
	text-decoration: underline;
	font-family: 'Times New Roman';
	padding: 0px;
}

.btn-primary{
	color: #FFFFFF;
	font-weight: bold;
	margin-right: 30px;
	font-size: 10px;
	height: 20px;
	padding-top: 1px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 1px;
}

.btn-circ{
	border-radius: 50%;
	margin-right:10px;
	margin-left:5px;
	margin-top:5px;
	margin-bottom:3px;
	background-color: #FF8C00;
}

.btn-next{
	background-color: #800000;
	color: #FFFFFF;
	position: absolute;
    z-index: 1000;
    top: 30%;
    right: -60px;
    border-radius: 50%;
}

.btn-next:hover{
	background-color: #800000;
	color: #F4CC3C;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.btn-prev{
	background-color: #800000;
	color: #FFFFFF;
	position: absolute;
    z-index: 1000;
    top: 30%;
    left: -60px;
    border-radius: 50%;
}

.btn-prev:hover{
	background-color: #800000;
	color: #F4CC3C;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.btn-mic{
	border: 1px solid #D3D3D3;
	background-color: white;
	border-radius: 1.5rem;
}

.btn-sort{
	background-color: #800000;
	color: white;
}

.btn-sort:hover{
	background-color: #800000;
	color: #F4CC3C;
}

.btn-close{
	background-color: #800000;
	color: white;
}

.btn-close:hover, .btn-copy:hover{
	color: white;
}

.btn-copy{
	background-color: #F4CC3C;
	color: white;
}

/* citation choices */
.cite{
	height: 30px;
	width: 450px;	
	text-align: right;
}

/* textarea */
.textarea{
	height: 130px;
	width: 450px;
	resize: none; 
	font-size: 13px;
	font-family: 'Times New Roman';
}

/* Toast check icon*/
.fa-check{
	color: #008000;
}

.fa-microphone{
	color: /*linear-gradient(to bottom right, #800000 16%, #ffdf00 85%);*/ maroon;
}

/* Upper Right Red Triangle*/
.triangle{
	height:0;
	width: 0;
	border-top:400px solid #800000;
	border-left: 700px solid transparent;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.list{
	margin-bottom: -30px;
}

#result{
	font-weight: bold;
	font-family: 'Times New Roman';
	font-size: 20px;
}

#display{
	padding: 5px;
}