/*--------------------------------------------------------------
#Dashboard
--------------------------------------------------------------*/

.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #bdbdbd;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.input-group-text{
  border-radius: 1.5rem;
}

.width{
  width: 89%;
}

.btn-modal{
  border-radius: 1.5rem;
  background-color: #F4CC3C;
}

.btn-modal:hover{
  border-radius: 1.5rem;
  background-color: #f5e29d;
}

.btn-search{
   border-radius: 1.5rem;
}

.logo{
  text-align: center;
}

.nav-link_b{
  color: #F4CC3C;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link_a{
  color: #F4CC3C;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-item{
  padding-right: 30px;
}

.nav-link_b:hover {
    text-decoration: none;
    color: #F4CC3C;
    background: rgba(255,255,255,0.2);
  border-bottom: 2px solid #F4CC3C;
}

.nav-link_a:hover {
    text-decoration: none;
    color: #F4CC3C;
    background: rgba(255,255,255,0.2);
}

a:active{
  text-decoration: underline;
  color: #800000;
}

.left{
  padding-left:5em;
}

.right{
  padding-right:5em;
}


.content{
  max-width: 90%;
  margin: auto;
}

/* nav pills book  & users */
.nav-pills .pill-books .nav-link:not(.active) {
  border-radius: 1.5rem;
    background-color: #7d2d2d;
}

.nav-pills .pill-users .nav-link:not(.active) {
  border-radius: 1.5rem;
    background-color: #7d2d2d;
}


/* active (faded) */
.nav-pills .pill-books .nav-link {
  border-radius: 1.5rem;
    background-color: #F4CC3C;
    color: white;
    font-weight: bold;
}

.nav-pills .pill-users .nav-link {
  border-radius: 1.5rem;
    background-color: #F4CC3C;
    color:white;
    font-weight: bold;
}

 /* hover */
.nav-pills .pill-books .nav-link:hover{
  border-radius: 1.5rem;
    background-color: #F4CC3C;
    color: white;
    font-weight: bold;
}

.nav-pills .pill-users .nav-link:hover {
  border-radius: 1.5rem;
    background-color: #F4CC3C;
    color:white;
    font-weight: bold;
}

/* Dropdown Button */
.dropbtn {
  background-color: #800000;
  color: #F4CC3C;
  font-size: 16px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F4CC3C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #800000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #800000;
  border-bottom: 2px solid #800000;
  background: rgba(255,255,255,0.2);

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #F4CC3C;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  text-decoration: none;
    border-bottom: 2px solid #F4CC3C;
    background: rgba(255,255,255,0.2);
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #800000;
  font-size: 14px;
  background: white;
  position : absolute;
  bottom: 0;
}
/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
#body {
  margin: 0;
  padding: 0;
  font-family: Sora;
  background: white;
  overflow : hidden;
}
.login{
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: white;
  border-radius: 10px;
}
.login-body{
  padding: 10px 10px 10px 10px;
}
.login h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  font-style: normal;
  font-weight: 750;
  font-size: 2rem;
}
.login form{
  padding: 0 40px;
  box-sizing: border=box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100px;
  padding: 0 5 px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: -15px;
  left: 5px;
  color: #adadad;
  /* transform: translateY(-50); */
  font-size: 16px;
  /* pointer-events: none; */
  /* transition: .5s; */
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #800000;
  transition: .5s;
}
/* .txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #800000;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;;
} */
.pass{
  margin: 5px -5px 10px 5px;
  columns: #a6a6a6;
  cursor: pointer;
  font-size: 15px;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width:100%;
  height: 50px;
  border: 1px solid;
  background: #800000;
  border-radius: 25px;
  font-size: 18px;
  color:#e9f4fb;
  font-weight:700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #800000;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #800000;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}
.panel-transparent {
  background: white;
  background: rgba(221, 221, 221, 0.5)!important;
  border-radius: 50px;
}
/*--------------------------------------------------------------
# Register
--------------------------------------------------------------*/
.register{
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background: white;
  border-radius: 10px;
}
.register-body{
  padding: 10px 10px 10px 10px;
}
.register h1{
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid silver;
  font-style: normal;
  font-weight: 750;
  font-size: 2rem;
}
.register form{
  padding: 0 40px;
  box-sizing: border=box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
/* .skewed-bg {
  background: #830024;
  color: #FFF;
  padding: 2em;
  position: relative;
  min-height:300px;
  overflow:hidden;
}
.skewed-bg:after {
content: '';
position: absolute;
bottom: -75%; left: 0; right: 0;
height:100%;
background:#FFF;
transform: skew(0deg, -9deg);
} */
.triangle{
  height:0;
  width: 0;
  border-top:400px solid #800000;
  border-left: 700px solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.landingpage-body{
  position: absolute;
  top: 200px;
  left: 200px;
}
