{% extends "base.html" %}
{% block content %}
<div class ="section">
    <div class="left-section">
        <div class="content">
            <div class="title">
            <h1>About Us</h1>
            </div>
            <p>is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged.</p>
            <br>
                <h6><b>Contact Info</b></h6>
                arms@cit.edu<br>
                +23232323
        </div>
    </div>
</div>
<div class="compimg">
    <img src="./../static/images/comp.jpg" width="350px"height="350px" alt="" class="d-inline-block align-middle mr-2">
</div>
{% endblock content %}