{% extends "base_1.1.html" %}
{% load static %}
{% block content %}
<head>
	<link rel="stylesheet" href="{% static 'css/tags.css' %}">
	</head>
<div class="container">
	<div class="col-lg-30"  style="background-color: whitesmoke">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-sm-10">
					&nbsp;
					&nbsp;
						<!-- Book Details -->
						<div  class="col  ml-xl-5">
							<h4>Book Details</h4>
						</div>
						<br>
						<form method="POST" enctype="multipart/form-data">
						{% csrf_token %}
							<div  class="col  ml-xl-5">	
									<!-- <div class="form-group row">
										<label for="Name" class="col-sm-4 col-form-label">Id</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="Title" name="book_id" placeholder="Book id" required>
										</div>
									</div> -->
									<div class="form-group row">
										<label for="Name" class="col-sm-4 col-form-label">Title</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="Title" name="book_title" placeholder="Book Title" required>
										</div>
									</div>

									<div class="form-group row">
										<label for="Author" class="col-sm-4 col-form-label">Author</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="Firstname" name="Firstname" placeholder="Firstname" required="">
											<input type="text" class="form-control" id="Lastname" name="Lastname" placeholder="Lastname" required="">
										</div>
									</div>
									
									<div class="form-group row">
										<label for="Year" class="col-sm-4 col-form-label">Year Published</label>
										<div class="col-sm-8">
											<input type="date" name="book_year" class="form-control" id="Year" placeholder="Book Published" required>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 form-check-label" for="Summary"> Summary</label>
										<div class="col-sm-8">
											<textarea placeholder="Book Summary" name="book_summary"class="form-control" id="Summary"  cols="50" rows='5' required></textarea>
										</div>
									</div>

									<!-- <div class="form-group row">
										<label class="col-sm-4 form-check-label" for="Info">Information</label>
										<div class="col-sm-8">
											<input type='text' class="form-control" name="book_info" id="Info" placeholder="Book Information">
										</div>
									</div> -->

									<div class="form-group row">
										 <label for="Category" class="col-sm-4 form-check-label">Category</label>
										 <div class="col-sm-8">
							    			<select class="form-control" name="book_category" required>
							    			  <option value="">Select Book Category</option>
										      <option value="Research">Research</option>
										      <option value="Journal">Journal</option>
										      <option value="Filipiniana">Filipiniana</option>
										      <option value="Engineering">Engineering</option>
										      <option value="Computer Science">Computer Science</option>
										      <option value="Information Technology">Information Technology</option>
										      <option value="Business">Business</option>
										      <option value="Architecture">Architecture</option>
							    			</select>
							    		</div>
									</div>

									<div class="form-group row">
										 <label for="tags" class="col-sm-4 form-check-label">Book Tags</label>
							            <div class="tags-input col-sm-7" name="book_tags" data-name="tags-input" id="tags" placeholder="Enter Tags" required></div>
							        
							        <script src="{% static 'js/homepage.js' %}"></script>
									</div>

					<br><br>
					<!-- <form> -->
					  <label for="img">Select Cover Image:</label>
					  <input type="file" id="img" name="book_cover" accept="image/*"  required>
					<!-- </form> -->
					<br>
					<label for="ConfirminputPassword">File Upload</label>
					<input type="file" name="book_file"  id="CoverImage" required="">

					
			
			<br><br>
			<div style="text-align: center">
				<button type="submit" class="btn-view-save">Add Book</button>
				<button type="button" class="btn-cancel" data-dismiss="modal">Cancel</button>
			</div>


						</div>
					</form>	
					</div>
				</div>

				<!-- Author Details -->
				<!-- 
					<hr>
						<div  class="col  ml-xl-5">
							<h4>Author Details</h4>
							<br>
						</div>
					<div>
						<form method="POST" autocomplete="off" enctype="multipart/form-data">
							<div  class="col  ml-xl-5">	
								<div class="form-group row">
										<label for="AuthorName" class="col-sm-4 col-form-label">Name</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="AuthorName" name="" placeholder="Author Name" required>
										</div>
								</div>
								<div class="form-group row">
										<label for="Email" class="col-sm-4 col-form-label">E-mail</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="Email" name="" placeholder="E-mail" required>
										</div>
								</div>
								<div class="form-group row">
										<label for="Birthdate" class="col-sm-4 col-form-label">Birthdate</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="Birthdate" name="" placeholder="Birthdate" required>
										</div>
								</div>
							</div>
						</form>
					</div> -->

			</div>
		</div>
	</div>
</div>
						


{% endblock content %}
