{% extends "base_1.1.html" %}
{% load static %}
{% block content %}
    <div class="container d-flex flex-sm-column justify-content-between py-1">
      <div class="row text-center py-6 align-content-between flex-wrap">
        <hr>
        <div class="col-lg-3 d-flex justify-content-center align-items-center">
          <a class="text-uppercase font-weight-bold" style="color: black; font-size: 25px; text-decoration: underline;">DASHBOARD
          </a>
        </div>
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center">
          <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item pill-books">
              <a class="btn btn-view-save" id="pills-books-tab" data-toggle="pill" href="#pills-books" role="tab" aria-controls="pills-books" aria-selected="true">Books</a>
            </li>
            <li class="nav-item pill-users">
              <a  class="btn btn-cancel" id="pills-users-tab" data-toggle="pill" href="#pills-users" role="tab" aria-controls="pills-users" aria-selected="false">Users</a>
            </li>
          </ul>
        </div> 
      </div> 
    </div>
   
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-books" role="tabpanel" aria-labelledby="pills-books-tab"> <br>
        <div class="content">
          <table class="table">
            <div class="input-group md-form form-sm form-1 pl-0">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="width my-0 py-1" placeholder="Search" aria-label="Search">
              <div> &nbsp;
                <button type="button" class="btn btn-secondary btn-search"><i class="fa fa-sort" aria-hidden="true"></i></button>
              </div>
            </div>
           <!-- <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item pill-addbook">
              <a class="nav-link" id="pills-addbook-tab" data-toggle="modal" data-target="#addBook_Modal" href="#pills-addbook" role="tab" aria-controls="pills-addbook" aria-selected="false"> <span style="color: #ffffff"; class="fa fa-plus"></span>  Add book</a>
            </li>
          </ul> -->
          <br>
            <p align="right"><button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#addBook_Modal"> <span style="color: #ffffff" class="fa fa-plus"> </span> ADD BOOK</button></p>
            <thead>
              <tr>
                <th scope="col">Book ID</th>
                <th scope="col">Book Title</th>
                <th scope="col">Year</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr>
                <th scope="row"> {{book.id}} </th>
                <td>{{book.book_title}}</td>
                <td>{{book.book_year}}</td>
                <td>
                  <button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#ViewModal-{{book.id}}"> <i class="fa fa-eye"></i>View</button>
                  <button type="button" class="btn btn-modal" data-toggle="modal" data-target="#DeleteModal-{{book.id}}"><i class="fa fa-trash"></i>Delete</button>
                </td>
              </tr>

    <!-- MODAL VIEW BOOK -->
              <div class="modal fade" id="ViewModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="ViewModalLabel">BOOK INFORMATION</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="updateForm" method="post">
                      {% csrf_token %}
                      <input type="text" name="bookid" value ="{{book.id}}" hidden>
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="booktitle">Book Title</label>
                            <input type="text" class="form-control" id="booktitle" name="booktitle" value = "{{book.book_title}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="bookyear">Year</label>
                            <input type="text" class="form-control" id="bookyear" name="bookyear" value = "{{book.book_year}}">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
    <!-- Modal Delete -->
              <div class="modal fade" id="DeleteModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="DeleteModalLabel">DELETE RECORD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                       <form id="deleteForm" method="post" >
                        {% csrf_token %} 
                        <div class="modal-body">
                          <input type="text" name="bookid" value = {{book.id}} hidden>
                        Are you sure you want to delete this record?
                      </div>
                      <div class="modal-footer">
                         <button type="submit" id = "btnDelete" name = "btnDelete" class="btn btn-view-save">YES</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">NO</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- user table -->
    <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab"> <br>
      <div class="content">
          <table class="table"> 
            <div class="input-group md-form form-sm form-1 pl-0">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="width my-0 py-1" placeholder="Search" aria-label="Search">
              <div> &nbsp;
                <button type="button" class="btn btn-secondary btn-search"><i class="fa fa-sort" aria-hidden="true"></i></button>
              </div>
            </div>
            <br>

            <thead>
              <tr>
                <th>User ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Gender</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.user_id}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.gender}}</td>
                <td>
                  <button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#ViewModal1-{{user.user_id}}"><i class="fa fa-eye"></i>&nbsp;View</button>
                  <button type="button" class="btn btn-cancel" data-toggle="modal" data-target="#DeleteModal1-{{user.user_id}}"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                </td>
              </tr>
    <!-- MODAL VIEW BOOK -->
              <div class="modal fade" id="ViewModal1-{{user.user_id}}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel1" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-center">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="ViewModalLabel1">USER INFORMATION</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="updateForm" method="post">
                      {% csrf_token %}
                      <input type="text" name="userid" value ="" hidden>
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label for="userid">User ID</label>
                            <input type="text" class="form-control" id="userid" name="userid" value = "{{user.user_id}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="fname">First name</label>
                            <input type="text" class="form-control" id="fname" name="fname" value = "{{user.firstname}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="lname">Last name</label>
                            <input type="text" class="form-control" id="lname" name="lname" value = "{{user.lastname}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="birthdate">Birthdate</label>
                            <input type="text" class="form-control" id="birthdate" name="birthdate" value = "{{user.birthdate}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value = "{{user.email}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="gender">Gender</label>
                            <input type="text" class="form-control" id="gender" name="gender" value = "{{user.gender}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="contact_number">Contact Number</label>
                            <input type="text" class="form-control" id="contact_number" name="contact_number" value = "{{user.contact_number}}">
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit"  id="btnUpdate" name="btnUpdate" class="btn btn-view-save">UPDATE</button>
                          <button type="button" class="btn btn-cancel" data-dismiss="modal">CANCEL</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
      <!-- Modal Delete -->
              <div class="modal fade" id="DeleteModal1-{{user.user_id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="DeleteModalLabel1">DELETE RECORD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                       <form id="deleteForm" method="post" >
                        {% csrf_token %} 
                        <div class="modal-body">
                          <input type="text" name="bookid" value = {{user.user_id}} hidden>
                        Are you sure you want to delete this record?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-cancel" data-dismiss="modal">NO</button>
                        <button type="submit" id = "btnDelete" name = "btnDelete" class="btn-view-save">YES</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
    </div>

                                   <div class="modal fade" id="addBook_Modal" role="dialog">
                                  <div class="modal-dialog">
                                                
                                   
                                  <div class="modal-content">
                                    <div class="modal-header">
                                          <h4 class="modal-title" style="color: white">Add Book</h4>
                                        </div>

                                       <div class="modal-body">
                                      <div class = "row">
                                        <div class="col-1"> </div>
                                          <form>
                                            <div class="form-group row">
                                              <label for="Title" class="col-sm-4 col-form-label">Title</label>
                                              <div class="col-sm-8">
                                                <input type="text" class="form-control" id="Title" placeholder="Book Title" required="">
                                               </div>
                                            </div>

                                            <div class="form-group row">
                                              <label for="Author" class="col-sm-4 col-form-label">Author</label>
                                               <div class="col-sm-8">
                                               <input type="text" class="form-control" id="Author" placeholder="Book Author" required="">
                                               </div>
                                            </div>

                                            <div class="form-group row">
                                               <label for="Year" class="col-sm-4 col-form-label">Year Published</label>
                                              <div class="col-sm-8">
                                               <input type="date" class="form-control" id="Year" placeholder="Date Published">
                                              </div>
                                            </div>

                                            <div class="form-group row">
                                               <label for="Sypnosis" class="col-sm-4 col-form-label">Sypnosis</label>
                                              <div class="col-sm-8">
                                               <textarea id="Sypnosis" rows='3' cols='20'></textarea>
                                              </div>
                                            </div>
                                            
                                            <label>Select an image: </label><br>
                                            <input type="file" name="img1"><br><br>

                                            <label>Upload your File: </label><br>
                                            <input type="file" name="img2">
                                            
                                          </form>
                                                      
                                      </div>
                                    </div>

                            <div class="modal-footer">
                              <button type="button" class="btn-view-save" data-dismiss="modal">Save</button>
                               <button type="button" class="btn-cancel" data-dismiss="modal">Cancel</button>
                            </div>
                                  </div>
                                  <br>
                                  <br>
                           
                                 
      </div>
    </div> 

{% endblock content %}