{% extends "base_1.1.html" %}
{% load static %} 
{% block content %}
   
    <div class="tab-content">
      <div class="tab-pane fade" id="pills-tables" role="tabpanel" aria-labelledby="pills-tables-tab"> <br>
        <div class="content">
          <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                  Book Table
              </div>
              <div class="card-body">
              <div class="table-responsive">
                <table class="table" id="booktable">
                <p align="left"><a type = "button" class="btn btn-sm" style="background-color: #F8c400; border: none; border-radius: 5px; color: white;" href="{% url 'arms:addBook_view' %}"> <span style="color: #ffffff" class="fa fa-plus"> </span>ADD BOOK</a></p>

                <thead>
                  <tr>
                    <th scope="col">Book ID</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">Year</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for book in books %}
                    {% for author in authors %}
                    {% for category in category %}
                  <tr>
                    <th scope="row"> {{book.book_id}} </th>
                    <td>{{book.book_title}}</td>
                    <td>{{book.book_year}}</td>
                    <td>
                      <button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#ViewModal-{{book.book_id}}"> <i class="fa fa-eye"></i>View</button>
                      <button type="button" class="btn btn-cancel" data-toggle="modal" data-target="#DeleteModal-{{book.book_id}}"><i class="fa fa-trash"></i>Delete</button>
                    </td>
                  </tr>

    <!-- MODAL VIEW BOOK -->
              <div class="modal fade" id="ViewModal-{{book.book_id}}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="ViewModalLabel">BOOK INFORMATION</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="updateFormBook" method="post">
                      {% csrf_token %}
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="bookcover">Book Cover</label>
                                {% if book.book_cover.url is not null %}
                                  <img src="{{ book.book_cover.url }}" width="100%" height="100%" style="border-radius: 8px; border: 1px solid gray; padding: 4px;" >
                                {% else %}
                                  <img src="{% static 'images/prof.jpg' %}"><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {% endif %}
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="bookid">Book ID</label>
                            <input type="text" class="form-control" id="booktitle" name="bookid" value = "{{book.book_id}}" readonly>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="booktitle">Book Title</label>
                            <input type="text" class="form-control" id="booktitle" name="booktitle" value = "{{book.book_title}}">
                          </div>
                              <div class="form-group col-md-4">
                            <label for="bookyear">Year Published</label>
                            <input type="text" class="form-control" id="bookyear" name="bookyear" value = "{{book.book_year}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label for="booksummary">Summary</label>
                            <input type="textarea" class="form-control" id="booksummary" name="booksummary" value = "{{book.book_summary}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="bookcategoryno">Category Number</label>
                            <input type="textarea" class="form-control" id="bookcategoryno" name="bookcategoryno" value = "{{category.book_category_no}}" readonly>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="bookcategory">Category</label>
                            <input type="textarea" class="form-control" id="bookcategory" name="bookcategory" value = "{{category.book_category}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-12">
                            <label for="booktags"> Tags</label>
                            <input type="textarea" class="form-control" id="booktags" name="booktags" value = "{{book.book_tags}}">
                          </div>
                        </div>
                        <hr>
                        <label> Author's Details </label>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="authorid">Author ID</label>
                            <input type="text" class="form-control" id="authorid" name="authorid" value = "{{author.book_author_id}}" readonly>
                          </div>
                          <div class="form-group col-md-4">
                            <label for="authorfname">Firstname</label>
                            <input type="text" class="form-control" id="authorfname" name="authorfname" value = "{{author.firstname}}">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="authorlname">Lastname</label>
                            <input type="text" class="form-control" id="authorlname" name="authorlname" value = "{{author.lastname}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label for="authoremail">Email</label>
                            <input type="text" class="form-control" id="authoremail" name="authoremail" value = "{{author.email}}">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="authorbdate">Birthdate</label>
                            <input type="text" class="form-control" id="authorbdate" name="authorbdate" value = "{{author.birthdate}}">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="authorgender">Gender</label>
                            <input type="text" class="form-control" id="authorgender" name="authorgender" value = "{{author.gender}}">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button type="submit"  id="btnUpdateBook" name="btnUpdateBook" class="btn btn-view-save">UPDATE</button>
                          <button type="button" class="btn btn-cancel" data-dismiss="modal">CANCEL</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
    <!-- Modal Delete -->
              <div class="modal fade" id="DeleteModal-{{book.book_id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="DeleteModalLabel">DELETE RECORD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                       <form id="deleteFormBook" method="post" >
                        {% csrf_token %} 
                        <div class="modal-body">
                          <input type="text" name="bookid" value = {{book.book_id}} hidden>
                        Are you sure you want to delete this record?
                      </div>
                      <div class="modal-footer">
                         <button type="submit" id = "btnDeleteBook" name = "btnDeleteBook" class="btn btn-view-save">YES</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">NO</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
    <!-- user table -->
        <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                                User Table
              </div>
        <div class="card-body">
        <div class="table-responsive">
          <table class="table" id="usertable"> 

            <thead>
              <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                  <button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#ViewModal1-{{user.id}}"><i class="fa fa-eye"></i>&nbsp;View</button>
                  <button type="button" class="btn btn-cancel" data-toggle="modal" data-target="#DeleteModal1-{{user.id}}"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                </td>
              </tr>
    <!-- MODAL VIEW BOOK -->
              <div class="modal fade" id="ViewModal1-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel1" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-center">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="ViewModalLabel1">USER INFORMATION</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="updateFormUser" method="post">
                      {% csrf_token %}
                      <input type="text" name="userid" value ="" hidden>
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="userid">User ID</label>
                            <input type="text" class="form-control" id="userid" name="userid" value = "{{user.id}}" readonly>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value = "{{user.username}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="firstname">Firstname</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" value = "{{user.first_name}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="lastname">Lastname</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value = "{{user.last_name}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value = "{{user.email}}">
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit"  id="btnUpdateUser" name="btnUpdateUser" class="btn btn-view-save">UPDATE</button>
                          <button type="button" class="btn btn-cancel" data-dismiss="modal">CANCEL</button>
                        </div>
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
      <!-- Modal Delete -->
              <div class="modal fade" id="DeleteModal1-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="DeleteModalLabel1">DELETE RECORD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                       <form id="deleteFormUser" method="post" >
                        {% csrf_token %} 
                        <div class="modal-body">
                          <input type="text" name="userid" value = {{user.id}} hidden>
                        Are you sure you want to delete this record?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-cancel" data-dismiss="modal">NO</button>
                        <button type="submit" id = "btnDeleteUser" name = "btnDeleteUser" class="btn-view-save">YES</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
    </div>
</div>
</div>
</div>
  <div class="tab-pane fade show active" id="pills-charts" role="tabpanel" aria-labelledby="pills-charts-tab"> <br>
      <div class="content">                               
                           
                    <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Analytics</h1>
                        <div class="card mb-4">
                            <div class="card-body">
                                To keep track of the number of users and books
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="card mb-4" style="color: #8C383E;">
                                    <div class="card-body"> <i class="fas fa-user"></i> Total number of Users </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="big font-weight-bold stretched-link" style="color: #8C383E;">{{Totalusers}}</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card mb-4" style="color: #8C383E;">
                                    <div class="card-body"> <i class="fas fa-book"></i> Total number of Books </div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <a class="big font-weight-bold stretched-link" style="color: #8C383E;">{{Totalbooks}}</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area mr-1"></i>
                                Area Chart Example
                            </div>
                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="30"></canvas></div>
                            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-bar mr-1"></i>
                                        Bar Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myChart" width="100%" height="50"></canvas></div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-chart-pie mr-1"></i>
                                        Pie Chart Example
                                    </div>
                                    <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas> </div>
                                    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
              </div>
            </div>             
      </div>

{% endblock content %}