{% extends "base_1.1.html" %}
{% load static %} 
{% block content %}
   
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-books" role="tabpanel" aria-labelledby="pills-books-tab"> <br>
        <div class="content">
          <table class="table">
            <div class="input-group md-form form-sm form-1 pl-0">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="width my-0 py-1" placeholder="Search" aria-label="Search">
              <div> &nbsp;
                <button type="button" class="btn btn-secondary btn-search"><i class="fa fa-sort" aria-hidden="true"></i></button>
              </div>
            </div>
           <!-- <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item pill-addbook">
              <a class="nav-link" id="pills-addbook-tab" data-toggle="modal" data-target="#addBook_Modal" href="#pills-addbook" role="tab" aria-controls="pills-addbook" aria-selected="false"> <span style="color: #ffffff"; class="fa fa-plus"></span>  Add book</a>
            </li>
          </ul> -->
          <br>
            <p align="right"><a type = "button" class="btn btn-view-save" href="{% url 'arms:addBook_view' %}"> <span style="color: #ffffff" class="fa fa-plus"> </span>ADD BOOK</a></p>
            <thead>
              <tr>
                <th scope="col">Book ID</th>
                <th scope="col">Book Title</th>
                <th scope="col">Year</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for book in books %}
              <tr>
                <th scope="row"> {{book.id}} </th>
                <td>{{book.book_title}}</td>
                <td>{{book.book_year}}</td>
                <td>
                  <button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#ViewModal-{{book.id}}"> <i class="fa fa-eye"></i>View</button>
                  <button type="button" class="btn btn-modal" data-toggle="modal" data-target="#DeleteModal-{{book.id}}"><i class="fa fa-trash"></i>Delete</button>
                </td>
              </tr>

    <!-- MODAL VIEW BOOK -->
              <div class="modal fade" id="ViewModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="ViewModalLabel">BOOK INFORMATION</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="updateFormBook" method="post">
                      {% csrf_token %}
                      <input type="text" name="bookid" value ="{{book.id}}" hidden>
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="booktitle">Book Title</label>
                            <input type="text" class="form-control" id="booktitle" name="booktitle" value = "{{book.book_title}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="bookyear">Year</label>
                            <input type="text" class="form-control" id="bookyear" name="bookyear" value = "{{book.book_year}}">
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button type="submit"  id="btnUpdateUser" name="btnUpdate" class="btn btn-view-save">UPDATE</button>
                          <button type="button" class="btn btn-cancel" data-dismiss="modal">CANCEL</button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
    <!-- Modal Delete -->
              <div class="modal fade" id="DeleteModal-{{book.id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="DeleteModalLabel">DELETE RECORD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                       <form id="deleteFormBook" method="post" >
                        {% csrf_token %} 
                        <div class="modal-body">
                          <input type="text" name="bookid" value = {{book.id}} hidden>
                        Are you sure you want to delete this record?
                      </div>
                      <div class="modal-footer">
                         <button type="submit" id = "btnDeleteBook" name = "btnDelete" class="btn btn-view-save">YES</button>
                        <button type="button" class="btn btn-cancel" data-dismiss="modal">NO</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <!-- user table -->
    <div class="tab-pane fade" id="pills-users" role="tabpanel" aria-labelledby="pills-users-tab"> <br>
      <div class="content">
          <table class="table" id="usertable"> 
            <div class="input-group md-form form-sm form-1 pl-0">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></span>
              </div>
              <input type="text" class="width my-0 py-1" placeholder="Search" aria-label="Search">
              <div> &nbsp;
                <button type="button" class="btn btn-secondary btn-search"><i class="fa fa-sort" aria-hidden="true"></i></button>
              </div>
            </div>
            <br>

            <thead>
              <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for user in users %}
              <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>
                  <button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#ViewModal1-{{user.id}}"><i class="fa fa-eye"></i>&nbsp;View</button>
                  <button type="button" class="btn btn-cancel" data-toggle="modal" data-target="#DeleteModal1-{{user.id}}"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                </td>
              </tr>
    <!-- MODAL VIEW BOOK -->
              <div class="modal fade" id="ViewModal1-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel1" aria-hidden="true">
                <div class="modal-dialog " role="document">
                  <div class="modal-center">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title" id="ViewModalLabel1">USER INFORMATION</h6>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <form id="updateFormUser" method="post">
                      {% csrf_token %}
                      <input type="text" name="userid" value ="" hidden>
                      <div class="modal-body">
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="userid">User ID</label>
                            <input type="text" class="form-control" id="userid" name="userid" value = "{{user.id}}" readonly>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" value = "{{user.username}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="firstname">Firstname</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" value = "{{user.first_name}}">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="lastname">Lastname</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" value = "{{user.last_name}}">
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email" value = "{{user.email}}">
                          </div>
                        </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit"  id="btnUpdateUser" name="btnUpdateUser" class="btn btn-view-save">UPDATE</button>
                          <button type="button" class="btn btn-cancel" data-dismiss="modal">CANCEL</button>
                        </div>
                      </form>
                    </div>
                    
                  </div>
                </div>
              </div>
      <!-- Modal Delete -->
              <div class="modal fade" id="DeleteModal1-{{user.id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="DeleteModalLabel1">DELETE RECORD</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                       <form id="deleteFormUser" method="post" >
                        {% csrf_token %} 
                        <div class="modal-body">
                          <input type="text" name="userid" value = {{user.id}} hidden>
                        Are you sure you want to delete this record?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn-cancel" data-dismiss="modal">NO</button>
                        <button type="submit" id = "btnDeleteUser" name = "btnDeleteUser" class="btn-view-save">YES</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </table>
      </div>
    </div>

                                
                           
                                 
      </div>
    </div> 

{% endblock content %}
    <footer class="bg-light py-5" id="footer">
            <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Archived of Reading Materials</div></div>
    </footer>
    <!-- end footer-->
    <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

    <script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
   <script>
        $(document).ready( function () {
        $('#usertable').DataTable();
        $('#booktable').DataTable();
         });
     </script>
</body>
</html>