{% extends "base_1.1.html" %}
<!-- Author: Garcia
	Date: 2020
	Description: Homepage HTML Code
-->

{% block content %}
	{% load static %}
	<div class="container">
		<div style="text-align: center;">
			 <img src="{% static 'images/pic.jpg' %}" height="250px" width="85%" alt="">
			 <div class="centered">Online Resources</div>
		</div>
		<br>
		<div class="left">
			<div class="input-group mb-3">
				<!-- <form method="POST" enctype="multipart/form-data">
					{% csrf_token %} -->
			  		<input type="text" style="width: 700px; height: 40px; border: 1px solid #D3D3D3; border-top-left-radius: 1.5rem; border-bottom-left-radius: 1.5rem; padding-left: 20px;" id="searchBox" name="searchBox" placeholder="Search title, author, year">
			  	<!-- </form> -->
			  	<div class="input-group-append">
			    	<button type="button" class="btn btn-mic" onclick="runSpeechRecognition()">
	              	<i class="fa fa-lg fa-microphone"></i>
	            	</button>
			  	</div>
			  	<div class="input-group-prepend">
			    	<span class="input-group-text"><i class="fa fa-search"></i></span>
			 	</div>

				<div>&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-sort"><i class="fa fa-sort" aria-hidden="true"></i></button>
				</div>
			</div>
			<br>
			<div class="container">
				<span id="display">
					<span id="result"></span>
				</span>
				<span class="text">New Releases</span>
				<ul class="list">
					<div class="slider">
 						<li>
							<img class="thumbnail" src="{% static 'images/research.jpg' %}" alt="Project Management Strategies for Complete Projects Case Study Report" title="Project Management Strategies for Complete Projects Case Study Report" data-toggle="modal" data-target="#viewModal">
						</li>

 						<li>
							<img class="thumbnail" src="{% static 'images/percy.png' %}" alt="The Son of Neptune" title="The Son of Neptune" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/python1.jpg' %}" alt="Python Programming" title="Python Programming" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/python2.jpg' %}" alt="SQL and Python Programming" title="SQL and Python Programming" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/inferno.webp' %}" alt="Dante's The Divine Comedy" title="Dante's The Divine Comedy" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/journal1.jpg' %}" alt="International Journal of Research and Innovation in Social Science" title="International Journal of Research and Innovation in Social Science" data-toggle="modal" data-target="#viewModal">
						</li>
						
						<li>
							<img class="thumbnail" src="{% static 'images/joperd.jpg' %}" alt="Joperd 1" title="Joperd 1" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/joperd2.jpg' %}" alt="Joperd 2" title="Joperd 2" data-toggle="modal" data-target="#viewModal">
						</li>
						 
					</div>
				</ul>
				<span class="text">Recommended</span>
				<ul class="list">
					<div class="slider">

						<li>
							<img class="thumbnail" src="{% static 'images/research.jpg' %}" alt="Project Management Strategies for Complete Projects Case Study Report" title="Project Management Strategies for Complete Projects Case Study Report" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/percy.png' %}" alt="The Son of Neptune" title="The Son of Neptune" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/python1.jpg' %}" alt="Python Programming" title="Python Programming" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/python2.jpg' %}" alt="SQL and Python Programming" title="SQL and Python Programming" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/inferno.webp' %}" alt="Dante's The Divine Comedy" title="Dante's The Divine Comedy" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/journal1.jpg' %}" alt="International Journal of Research and Innovation in Social Science" title="International Journal of Research and Innovation in Social Science" data-toggle="modal" data-target="#viewModal">
						</li>
						
						<li>
							<img class="thumbnail" src="{% static 'images/joperd.jpg' %}" alt="Joperd 1" title="Joperd 1" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/joperd2.jpg' %}" alt="Joperd 2" title="Joperd 2" data-toggle="modal" data-target="#viewModal">
						</li>

					</div>
				</ul>
				<span class="text">Popular</span>
				<ul class="list">
					<div class="slider">

						<li>
							<img class="thumbnail" src="{% static 'images/research.jpg' %}" alt="Project Management Strategies for Complete Projects Case Study Report" title="Project Management Strategies for Complete Projects Case Study Report" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/percy.png' %}" alt="The Son of Neptune" title="The Son of Neptune" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/python1.jpg' %}" alt="Python Programming" title="Python Programming" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/python2.jpg' %}" alt="SQL and Python Programming" title="SQL and Python Programming" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/inferno.webp' %}" alt="Dante's The Divine Comedy" title="Dante's The Divine Comedy" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/journal1.jpg' %}" alt="International Journal of Research and Innovation in Social Science" title="International Journal of Research and Innovation in Social Science" data-toggle="modal" data-target="#viewModal">
						</li>
						
						<li>
							<img class="thumbnail" src="{% static 'images/joperd.jpg' %}" alt="Joperd 1" title="Joperd 1" data-toggle="modal" data-target="#viewModal">
						</li>

						<li>
							<img class="thumbnail" src="{% static 'images/joperd2.jpg' %}" alt="Joperd 2" title="Joperd 2" data-toggle="modal" data-target="#viewModal">
						</li>
						
					</div>
				</ul>
			</div> <!-- Container -->
		</div> <!-- Left -->


		<!-- VIEW MODAL -->
		<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Details</h5>
						<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
						    <div class="row">
						    	<div class="col">
						    		<a href="{% static 'images/research.jpg' %}"><img class="thumbnail2" style="margin-bottom: 5px;" src="{% static 'images/research.jpg' %}" alt=""></a>
									<div>
										<span class="count"> 0 People read this book</span><br>
										<span class="count"> 0 People downloaded this book</span>
									</div>
									
										<button type="button" class="btn-RBD" onclick="openPDF()"><a href="{% static 'images/Project Management.pdf' %}" id="pdfFile" target="_blank"><i class="fa fa-book fa-sm" aria-hidden="true"></i></a></button>&nbsp; &nbsp;
										<button type="button" class="btn-RBD"><i class="fa fa-bookmark fa-sm" aria-hidden="true"></i></button>&nbsp; &nbsp;
										<button type="button" class="btn-RBD"><a href="{% static 'images/Project Management.pdf' %}" download><i class="fa fa-download fa-sm" aria-hidden="true"></i></a></button><br>
										<span class="label">Read</span> 
										<span class="label">Bookmark</span> 
										<span class="label">Download</span>

							    </div>
							    <div class="col">
							    	<span class="author">Author</span>
							    	&nbsp;&nbsp;<span><i class="fa fa-volume-up" aria-hidden="true" style="color: maroon;"></i></span>
									<div class="title">
										Project Management Strategies for Complex Projects Case Study Report
									</div>
									<div class="year">
										Year
									</div>
									<div>
										Sypnosis:
										<div class="summary">
											Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
										</div>
									</div><br>
									<div>
										<button type="button" class="btn btn-cite" data-toggle="modal" data-target="#citeModal"> CITE </button>
									</div>
							    </div>
						    </div> <!-- row -->
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-cancel" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div> <!-- VIEW Modal -->
		

		<!-- CITE MODAL -->
		<div class="modal fade" id="citeModal" tabindex="-1" role="dialog" aria-labelledby="CiteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">How to do you want to cite it?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div>
								<select class="cite" id="citeStyle" name="citeStyle">
									<option value="American Psychological Association" selected="selected"> American Psychological Association </option>
									<option value="Modern Language Association"> Modern Language Association </option>
									<option value="Chicago Manual of Style"> Chicago Manual of Style </option>
									<option value="Institute of Electrical and Electronics Engineers"> Institute of Electrical and Electronics Engineers </option>
								</select>
								<input type="text" id="text" name="text" hidden>
							</div><br>
							<div>
								<textarea class="textarea" id="citationText" name="citationText" readonly>Sample Text: Borman, W. C., Hanson, M.A., Oppler, S. H., Pulakos, E. D., & White, L. A. (1993). Role of early supervisory experience in supervisor performance. Journal of Applied Psychology, 78, 443-449. Retrieved October 23, 2000, from PsycARTICLES database.</textarea>
							</div>
						</div> 
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-cancel" data-dismiss="modal">Close</button>
						<button type="button" class="btn-view-save" id="showToast" onclick="copyCitation()">Copy</button>
					</div>
				</div>
			</div>

			<!-- TOAST -->
			<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
  				<div class="toast" style="position: absolute; top: -200px; right: 180px;">
					<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					  	<div class="toast-header">
					    	<strong class="mr-auto"><i class="fa fa-check" aria-hidden="true"></i>Copied</strong>
					    	<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
					      		<span aria-hidden="true">&times;</span>
					    	</button>
					  	</div>
					  	<div class="toast-body">
					    	Citation has been copied.
					  	</div>
					</div>
				</div>
			</div> <!-- TOAST -->
		</div> <!-- CITE Modal -->

	</div>
{% endblock content %}