{% extends "base.html" %}
<!-- Author: Garcia
	Date: 2020
	Description: Homepage HTML Code
-->

{% block content %}
	{% load static %}
	<section class="page-section" id="homepage">
	<div class="container">
		<div class="left">
			<div class="input-group mb-3">
				<!-- if method is GET no need to put csrf_token unlike POST method -->
				<form method="GET" action='' enctype="multipart/form-data">
			  		<input type="text" style="width: 700px; height: 40px; border: 1px solid #D3D3D3; border-top-left-radius: 1.5rem; border-bottom-left-radius: 1.5rem; padding-left: 20px;" id="search" name="search" placeholder="Search title, author, year" value="{{search}}">
			  	</form>
			  	<div class="input-group-append">
				  	<form method="POST">
				  		{% csrf_token %}
				    	<button class="btn btn-mic" name="mic" style="border-radius: 1px; height: 40px;">
		              		<i class="fa fa-lg fa-microphone"></i>
		            	</button>
		            </form>	
			  	</div>
			  	<div class="input-group-prepend">
			    	<span class="input-group-text"><i class="fa fa-search"></i></span>
			 	</div>

				<div>&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-secondary"><i class="fa fa-sort" aria-hidden="true"></i></button>
				</div>
			</div>
			<br>
			<div class="container">
				<div class="sidenav">
					<div class="order-container">
						<div class="order-header">
				  			<span style="font-weight: bold; padding: 5px;">Category</span>
				  		</div>
				  		<div class="order-list" style="overflow-y: scroll">
						<form method="GET" action='' enctype="multipart/form-data">
							{% for c in category %}
								<a name="searched" href="{% url 'arms:homepage_view' %}?searched={{ c.book_category }}">{{ c.book_category }}</a>
							{% endfor %}
						</form>
						</div>
					</div>
				</div>
				<div class="sidenav2">
					<div class="order-container">
						<div class="order-header">
				  			<span style="font-weight: bold; padding: 5px;">Author</span>
				  		</div>
				  		<div class="order-list" style="overflow-y: scroll">
						<form method="GET" action='' enctype="multipart/form-data">
							{% for a in authors %}
								<a name="searched" href="{% url 'arms:homepage_view' %}?searched={{ a.firstname }}&param={{ a.lastname }}">{{ a.firstname }} {{ a.lastname }}</a>
							{% endfor %}
						</form>
						</div>
					</div>
				</div>
				<!-- <span id="display">
					<span id="result"></span>
					
				</span> -->
				<span class="text">New Releases</span>
				<ul class="list">
					<div class="slider">
					{% for book in books %}
						{% if book.is_deleted == 0 %}
						<li>
							<img class="thumbnail" src="{{ book.book_cover.url }}" alt="{{ book.book_title }}" data-toggle="modal" data-target="#viewModal-{{ book.book_id }}">
						</li>		
						{% endif %}
						 {% for author in authors %}
							{% if author.book_author_id == book.book_author_id_id %}
								<li>
									<img class="thumbnail" src="{{ book.book_cover.url }}" alt="{{ book.book_title }}" title="{{ book.book_title}} {{ author.firstname }} {{ author.lastname }} {{ book.book_year }}" data-toggle="modal" data-target="#viewModal-{{ book.book_id }}">
								</li>
							{% endif %}
						{% endfor %} 
					{% endfor %}
					</div>
				</ul>
				<span class="text">Recommended</span>
				<ul class="list">
					<div class="slider">

					</div>
				</ul>
				<span class="text">Popular</span>
				<ul class="list">
					<div class="slider">
						
					</div>
				</ul>
			</div> <!-- Container -->
		</div> <!-- Left -->


		<!-- VIEW MODAL -->
		{% for book in books %}
		<div class="modal fade" id="viewModal-{{ book.book_id }}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Details</h5>
						<!--<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>-->
					</div>
					<div class="modal-body">
						<div class="container-fluid">
						    <div class="row">
						    	<div class="col">
						    		<a href="{{ book.book_cover.url }}"><img class="thumbnail2" style="margin-bottom: 5px;" src="{{ book.book_cover.url }}" alt="{{ book.book_title }}"></a>
									<div>
										<span class="count"> {{ book.readCount }} People read this book</span><br>
										<span class="count"> {{ book.downloadCount }} People downloaded this book</span>
									</div>
									<form method="POST">
										{% csrf_token %}
										<input type="text" name="idnum" value="{{book.book_id}}" hidden>
										<button name="read" class="btn-RBD" onclick="openPDF()">
											<a href="{{ book.book_file.url }}" id="pdfFile" target="_blank"><i class="fa fa-book fa-sm" name="read" aria-hidden="true"></i></a>
										</button>
										<button name="bookmark" class="btn-RBD">
											<a href="{{ book.book_file.url }}"><i class="fa fa-bookmark fa-sm"name="bookmark" aria-hidden="true"></i></a>
										</button>
										<button type="button" name="downLoad" class="btn-RBD">
											<a href="{{ book.book_file.url }}" download><i class="fa fa-download fa-sm" name="download" aria-hidden="true"></i></a>
										</button>
										<span class="label">Read</span> 
										<span class="label">Bookmark</span> 
										<span class="label">Download</span>
									</form>
							    </div>
							    <div class="col">
							    	{% for author in authors %}
								    	{% if author.book_author_id == book.book_author_id %}
											<span class="author"> {{ author.firstname }} {{ author.lastname }}</span>
										{% endif %}
									{% endfor %}
									<div class="title">
										{{ book.book_title }}
									</div>
									<div class="year">
										{{ book.book_year | date:"Y" }}
									</div>
									<div>
										Sypnosis:
										<div class="summary">
											{{ book.book_summary }}
										</div>
									</div><br>
									<div>
										<button type="button" class="btn btn-cite" data-toggle="modal" data-target="#citeModal-{{ book.book_id }}"> CITE </button>
									</div>
							    </div>
						    </div> <!-- row -->
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn-cancel" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div> <!-- VIEW Modal -->
		

		<!-- CITE MODAL -->
		<div class="modal fade" id="citeModal-{{ book.book_id }}" tabindex="-1" role="dialog" aria-labelledby="CiteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">How to do you want to cite it?</h5>
						<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div>
								<select class="cite" id="citeStyle" name="citeStyle">
									<option value="APA" selected="selected"> American Psychological Association </option>
									<option value="MLA"> Modern Language Association </option>
									<option value="Chicago"> Chicago Manual of Style </option>
									<option value="IEEE"> Institute of Electrical and Electronics Engineers </option>
								</select>
							</div><br>
							<div>
								<textarea class="textarea" id="citationText" name="citationText" readonly></textarea>
								
							</div>
						</div> 
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-view-save" id="showToast" onclick="copyCitation()">Copy</button>
					</div>
				</div>
			</div>

			<!-- TOAST -->
			<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="float: right">
			  	<div class="toast-header">
			    	<strong class="mr-auto"><i class="fa fa-check" aria-hidden="true"></i>Copied</strong>
			    	<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			      		<span aria-hidden="true">&times;</span>
			    	</button>
			  	</div>
			  	<div class="toast-body">
			    	Citation has been copied.
			  	</div>
			</div> <!-- TOAST -->
		</div> <!-- CITE Modal -->
		{% endfor %}
	</div>
</section>
{% endblock content %}