{% block headerinclude %}	
	{% load static %}
	 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">

{% endblock headerinclude %}

{% block footerinclude %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>


	<script type="text/javascript" src="{% static 'js/homepage.js' %}"></script>
{% endblock footerinclude %}

{% block content %}
	<div class="container">
		<nav class="navbar navbar-expand-lg">
			<div class="container">
				<a href="#" class="navbar-brand">
			  		<img src="{% static 'images/cit.jpg' %}" width="80" alt="" class="d-inline-block align-middle mr-2">
			  	<span class="text-uppercase font-weight-bold" style="color: black; font-size: 30px; letter-spacing: 5px; font-family: 'Times New Roman'">ARMS</span>
				</a>

				<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

				<div id="navbarSupportedContent" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
					  	<li class="nav-item active"><a href='{% url "arms:homepage_view" %}' class="nav-link_b active">Home</a></li>
					  	<li class="nav-item active"><a href='#' class="nav-link_b">About Us</a></li>
					    <li class="nav-item active">  	
					      	<div class="dropdown">
								<button class="dropbtn">Hi, User</button>
								<div class="dropdown-content">
									<a href='{% url "arms:profile_view" %}'>Profile</a>
									<a href="#">Log out</a>
								</div>
							</div>
					  	</li>
					</ul>
				</div>
		  	</div>
		</nav>
		<div style="text-align: center;">
			 <img src="{% static 'images/pic.jpg' %}" width="85%" height="40%" alt="">
			 <div class="centered">Online Resources</div>
		</div>
		<br>
		<div class="left">
			<div class="input-group md-form form-sm form-1 pl-0">
				<div class="input-group-prepend">
					<span class="input-group-text" id="basic-text1"><i class="fa fa-search" aria-hidden="true"></i></span>
				</div>
				<input class="width my-0 py-1" type="text" placeholder="Search" id="searchBox" aria-label="Search">

				<!--<span id="filter-count"></span>-->
				<div>&nbsp;
					<button type="button" class="btn btn-secondary"><i class="fa fa-sort" aria-hidden="true"></i></button>
				</div>
			</div>
			<br>
			<div class="container">

				<span class="text">New Releases</span>
				<div class="slider">

					<img class="thumbnail" src="{% static 'images/percy.png' %}" alt="The Son of Neptune" title="The Son of Neptune" data-toggle="modal" data-target="#viewModal">

					<img class="thumbnail" src="{% static 'images/python1.jpg' %}" alt="Python Programming" title="Python Programming" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/python2.jpg' %}" alt="SQL and Python Programming" title="SQL and Python Programming" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/inferno.webp' %}" alt="Dante's The Divine Comedy" title="Dante's The Divine Comedy" data-toggle="modal" data-target="#viewModal">

					<img class="thumbnail" src="{% static 'images/journal1.jpg' %}" alt="International Journal of Research and Innovation in Social Science" title="International Journal of Research and Innovation in Social Science" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/joperd.jpg' %}" alt="Joperd 1" title="Joperd 1" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/joperd2.jpg' %}" alt="Joperd 2" title="Joperd 2" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/research.jpg' %}" alt="Project Management Strategies for Complete Projects Case Study Report" title="Project Management Strategies for Complete Projects Case Study Report" data-toggle="modal" data-target="#viewModal">

				</div>

		
				<span class="text">Recommended</span>
				<div class="slider">

					<img class="thumbnail" src="{% static 'images/percy.png' %}" alt="The Son of Neptune" title="The Son of Neptune" data-toggle="modal" data-target="#viewModal">

					<img class="thumbnail" src="{% static 'images/python1.jpg' %}" alt="Python Programming" title="Python Programming" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/python2.jpg' %}" alt="SQL and Python Programming" title="SQL and Python Programming" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/inferno.webp' %}" alt="Dante's The Divine Comedy" title="Dante's The Divine Comedy" data-toggle="modal" data-target="#viewModal">

					<img class="thumbnail" src="{% static 'images/journal1.jpg' %}" alt="International Journal of Research and Innovation in Social Science" title="International Journal of Research and Innovation in Social Science" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/joperd.jpg' %}" alt="Joperd 1" title="Joperd 1" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/joperd2.jpg' %}" alt="Joperd 2" title="Joperd 2" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/research.jpg' %}" alt="Project Management Strategies for Complete Projects Case Study Report" title="Project Management Strategies for Complete Projects Case Study Report" data-toggle="modal" data-target="#viewModal">

				</div>

				<span class="text">Popular</span>
				<div class="slider">

					<img class="thumbnail" src="{% static 'images/percy.png' %}" alt="The Son of Neptune" title="The Son of Neptune" data-toggle="modal" data-target="#viewModal">

					<img class="thumbnail" src="{% static 'images/python1.jpg' %}" alt="Python Programming" title="Python Programming" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/python2.jpg' %}" alt="SQL and Python Programming" title="SQL and Python Programming" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/inferno.webp' %}" alt="Dante's The Divine Comedy" title="Dante's The Divine Comedy" data-toggle="modal" data-target="#viewModal">

					<img class="thumbnail" src="{% static 'images/journal1.jpg' %}" alt="International Journal of Research and Innovation in Social Science" title="International Journal of Research and Innovation in Social Science" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/joperd.jpg' %}" alt="Joperd 1" title="Joperd 1" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/joperd2.jpg' %}" alt="Joperd 2" title="Joperd 2" data-toggle="modal" data-target="#viewModal">
				
					<img class="thumbnail" src="{% static 'images/research.jpg' %}" alt="Project Management Strategies for Complete Projects Case Study Report" title="Project Management Strategies for Complete Projects Case Study Report" data-toggle="modal" data-target="#viewModal">

				</div>

			</div> <!-- Container -->
		</div> <!-- Left -->
			



		<!-- VIEW MODAL -->
		<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Details</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
						    <div class="row">
						    	<div class="col">
									<a href="{% static 'images/percy.png' %}"><img class="thumbnail" style="margin-bottom: 5px;" src="{% static 'images/percy.png' %}" alt=""></a>
									<div>
										<span class="count">25 People read this book</span><br>
										<span class="count">26 People downloaded this book</span>
									</div>
									<div class="box">
										<button type="button" class="btn btn-circ"><a href="{% static 'images/The Son of Neptune.pdf' %}" id="pdfFile" target="_blank"><i class="fa fa-book fa-sm" aria-hidden="true"></i></a></button>
										<button type="button" class="btn btn-circ"><i class="fa fa-bookmark fa-sm" aria-hidden="true"></i></button>
										<button type="button" class="btn btn-circ"><a href="{% static 'images/The Son of Neptune.pdf' %}" download><i class="fa fa-download fa-sm" aria-hidden="true"></i></a></button>
										<span class="label">Read</span>&nbsp;&nbsp;
										<span class="label">Bookmark</span>
										<span class="label">Download</span>
									</div>
							    </div>
							    <div class="col">
									<span class="author">John Doe</span>
									<div class="title">
										Percy Jackson The Lost Hero
									</div>
									<div class="year">
										2010
									</div>
									<div>
										Sypnosis:
										<div class="summary">
											The story follows the adventures of amnesiac Percy Jackson, a demigod son of Poseidon, as he meets a camp of Roman demigods and goes to Alaska with his new friends Hazel Levesque and Frank Zhang to free the Greek god of death, Thanatos, and help save the world from Gaea, the earth goddess.
										</div>
									</div><br>
									<div>
										<button type="button" class="btn btn-cite" data-toggle="modal" data-target="#citeModal"> CITE </button>
									</div>
							    </div>
						    </div> <!-- row -->
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div> <!-- VIEW Modal -->

		<!-- CITE MODAL -->
		<div class="modal fade" id="citeModal" tabindex="-1" role="dialog" aria-labelledby="CiteModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">How to do you want to cite it?</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div>
								<select class="cite" id="citeStyle" name="citeStyle" required>
									<option value="Cite 1"> Cite 1 </option>
									<option value="Cite 2"> Cite 2 </option>
									<option value="Cite 3"> Cite 3 </option>
								</select>
							</div><br>
							<div>
								<textarea class="textarea" id="citationText" name="citationText" readonly>Borman, W. C., Hanson, M.A., Oppler, S. H., Pulakos, E. D., & White, L. A. (1993). Role of early supervisory experience in supervisor performance. Journal of Applied Psychology, 78, 443-449. Retrieved October 23, 2000, from PsycARTICLES database.</textarea>
							</div>
						</div> 
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-success" data-dismiss="modal">Copy</button>
					</div>
				</div>
			</div>
		</div> <!-- CITE Modal -->


	</div>

	<!-- <button type="button" class="btn btn-danger" ><a href="{% static 'images/Revised-Prototype.pdf' %}" target="_blank">Open</a></button> -->
	<!-- <embed src="{% static 'images/Revised-Prototype.pdf' %}" width="800px" height="2100px" /> -->
{% endblock content %}