{% extends "base_1.1.html" %}
{% load static %}
{% block content %}
<br>
<div class="container">
		<div class="row">
			<div class="col tab" style="background-color: whitesmoke">
				<table class="table">
				    <br>
				    <thead> 
				    	<tr >
				           <th scope="col">Book Cover</th>
				           <th scope="col">Book Author</th>
				           <th scope="col">Book Title</th>
				           <th scope="col">Action</th>
				    	</tr>
				    </thead>
				    <tbody>
				    	<h4 style="font-weight: bold;">Recent Read Books: </h4>
				        {% for book in books %}
							{% if book.is_read == 1 %}
					        	<tr>
					        		<td>{{ book.book_cover }}</td>
									{% for author in authors %}
										{% if author.book_author_id == book.book_author_id%}
											<td> {{ author.firstname }} {{ author.lastname }}</td>
										{% endif %}
									{% endfor %}
					        		<td>{{ book.book_title }}</td>
					                <td>
					                  <button type="button" class="btn btn-view-save" data-toggle="modal" data-target="#ViewModal-{{book.book_id}}"><i class="fa fa-eye"></i>View</button>
					                  <button type="button" class="btn btn-cancel" data-toggle="modal" data-target="#DeleteModal-{{book.book_id}}"><i class="fa fa-trash"></i>Delete</button>
					                </td>
					            </tr>
				            {% endif %}

							<div class="modal fade" id="ViewModal-{{book.book_id }}" tabindex="-1" role="dialog" aria-labelledby="ViewModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">Details</h5>
										</div>
										<div class="modal-body">
											<div class="container-fluid">
											    <div class="row">
											    	<div class="col">
											    		<a href="{{ book.book_cover.url }}"><img class="thumbnail2" style="margin-bottom: 5px;" src="{{ book.book_cover.url }}" alt="{{ book.book_title }}"></a>
	
															<!--<button type="button" class="btn btn-RBD" onclick="openPDF()">
																<a href="{{ book.book_file }}" id="pdfFile" target="_blank"><i class="fa fa-book fa-sm" aria-hidden="true" style="color: maroon"></i></a>
															</button>
															<button type="button" class="btn btn-RBD">
																<a href="{{ book.book_file }}"><i class="fa fa-bookmark fa-sm" aria-hidden="true" style="color: maroon"></i></a>
															</button>
															<button type="button" class="btn btn-RBD">
																<a href="{{ book.book_file }}" download><i class="fa fa-download fa-sm" aria-hidden="true" style="color: maroon"></i></a>
															</button>
															<span class="label">Read</span> 
															<span class="label">Bookmark</span> 
															<span class="label">Download</span>-->
												    </div>
												    <div class="col">
												    	{% for author in authors %}
													    	{% if author.book_author_id == book.book_author_id %}
																<span class="author">Author: &nbsp;{{ author.firstname }} {{ author.lastname }}</span>
															{% endif %}
														{% endfor %}
														<div class="title">
															Title: &nbsp;{{ book.book_title }}
														</div>
														<div class="year">
															Date: &nbsp;{{ book.book_year }}
														</div>
														<br>
														<div>
															Sypnosis:
															<div class="summary">
																{{ book.book_summary }}
															</div>
														</div><br>
												    </div>
											    </div> <!-- row -->
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-cancel" data-dismiss="modal">Close</button>
										</div>
									</div>
								</div>
							</div>
				        	
				    <!-- Modal Delete -->
						            <div class="modal fade" id="DeleteModal-{{book.book_id}}" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel">
						                <div class="modal-dialog" role="document">
						                  <div class="modal-content">
						                    <div class="modal-header">
						                      <h5 class="modal-title" id="DeleteModalLabel">DELETE RECORD</h5>
						                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						                        <span aria-hidden="true">&times;</span>
						                         </button>
						                       </div>
						                       <form id="deleteForm" method="post" >
						                        {% csrf_token %} 
						                        <div class="modal-body">
						                          <input type="text" name="book-id" value = {{book.book_id}} hidden>
						                        Are you sure you want to delete this record?
						                      </div>
						                      <div class="modal-footer">
						                         <button type="submit" id = "btnDelete" name = "btnDelete" class="btn btn-view-save">YES</button>
						                        <button type="button" class="btn btn-cancel" data-dismiss="modal">NO</button>
						                      </div>
						                    </form>
						                  </div>
						                </div>
						            </div>
				        {% endfor %}
				    </tbody>
				</table>
			</div>
						<div class="d-flex flex-row-reverse">
							<div class="row1">
								<div class="d-flex flex-row-reverse">
									
										<button  type="button" data-toggle="modal" data-target="#ModalEdit-{{user.id}}" class='fa fa-edit'style='font-size:20px; color: white'></button>

									{% for user in users %}	
										<div class="modal fade" id="ModalEdit-{{user.id}}" role="dialog" aria-hidden="true">
											<div class="modal-dialog">
												<!-- Modal Edit-->  
												<form id="updateForm" method="POST" enctype="multipart/form-data">
	                    						{% csrf_token %}
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Profile Details</h4>
													</div>
													<br>

													<div class="modal-body" value = "{{user.id}}">
														<input type="text" name="user-id" value = {{user.id}} hidden>
														<div class = "col-12">
										                    <!--<div class="txt_field">-->
										                    <div class="txt_field">
										                        <input type="text" name="first_name" value = "{{user.first_name}}">
										                        <span></span>
										                        <label>Firstname</label>
										                   </div>
										                   <div class="txt_field">
										                        <input type="text required" name="last_name" value = "{{user.last_name}}">
										                        <span></span>
										                        <label>Lastname</label>
										                   </div>
										                    <div class="txt_field">
										                        <input type="text required" name="username" value = "{{user.username}}">
										                        <span></span>
										                        <label>Username</label>
										                   </div>
										                   <div class="txt_field">
										                        <div class="col-md-9">
										                            <input type="type" name="email" value = "{{user.email}}">
										                        </div>
										                        <span></span>
										                        <label>Email</label>
										                    </div>
										                    <div class="txt_field">
										                        <input type="text required" name="password" value = "{{user.password}}">
										                        <span></span>
										                        <label>Password</label>
										                    </div>
												                  
														</div>
													</div>
											
													<div class="modal-footer">
														<button type="submit" class="btn-view-save" id="btnUpdate" name="btnUpdate">Update</button>
														<button type="button" class="btn-cancel" data-dismiss="modal">Cancel</button>
													</div>
												</div>	
												</form>				      
											</div>
										</div>
									{% endfor %}		
										</div>
									
									
										<div class="text-center">
											<div class="small-12 medium-2 large-4 columns">
												<div class="circle">
												     <!-- User Profile Image -->
												     <img class="profile-pic rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" data-holder-rendered="true">
												       <!-- Default Image -->
												       <!-- <i class="fa fa-user fa-5x"></i> -->
												</div>
												 <div class="p-image" style="align-self: left;">
												   	<i class="fa fa-camera upload-button"></i>
												    <input class="file-upload" type="file" accept="image/*"/>
												</div>
											</div>
											<br>
											<br>	  
											<br>
											<br>
											<br>
												<a id={{user.id}} style="color: gold"> {{ user.first_name }} {{ user.last_name }}</a>
											<br>
											<br>

											<div class="col-12">
												<div class="row" class="botton">
													
														<div class="col-4">
															<div class="btn-RBD"> 
																<div class="fa fa-book" style="color: maroon"></div>
															</div>
															{% for book in books %}
																<!--{% if book.is_read == 1 %}-->
																	<div  class="count" style="color: white" >{{ book.readCount }}</div>
																<!--{% endif%}}-->
															{% endfor %}
															
															<div class="col" style='font-size:14px; color: white'>Reads</div>
														</div>

														<div class="col-4">
															<div class="btn-RBD"> 
															
																<div class="fa fa-bookmark" style="color:maroon"></div>
															
															</div>
															{% for book in books %}
																<div class="count" style="color: white">{{ book.bookmarkCount }}</div>
															{% endfor %}
															<div class="row" style='font-size:14px; color: white'>Bookmarks</div>
														</div>

														<div class="col-4">
															<div class="btn-RBD"> 
																<div class="fa fa-download" style="color:maroon"></div>
															</div>
															{% for book in books %}
																<div class="col-4" style="color: white">{{ book.downloadCount }}</div>
															{% endfor %}
															<div class="row" style='font-size:14px; color: white'>Downloads</div>
														</div>
													
		  										</div>
											</div>	
										</div>

										<br>
										<br>
										<div class="d-flex justify-content-center">&nbsp;&nbsp;
											<!-- <form method="POST">
												{% csrf_token %} -->
												<button type="button" class="btn-view-save"><a href="{% url 'arms:addBook_view' %}">Add Book</a></button>
											<!-- </form> -->
										</div>
								</div>
							</div>						
						</div>							
					</div>
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock content %}
