{% extends "base_1.1.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="col-lg-30"  style="background-color: whitesmoke">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="justify-content-sm-end">
					&nbsp;
					&nbsp;
						<div  class="col  ml-xl-5">
							<a class="font-weight-bold" style="color: black">Recent read Books:</a>
						</div>
						<br>
						<div class="col ml-xl-5">
							<img src="{% static 'images/bc.PNG' %}" width="100" height="150">
						</div>
					</div>	
					<div class="row">
						<div class="row">
							<div class="col">
							<br>
							<br>
							<br>
							<br>
							<a class="font-weight-light"  style="color: black">Jane Doe</a>
							<br>
							<a class="font-weight-bold" style="color: black"> Modern Achitecture </a>
							<br>
							<!--Modal View-->
							<button type="button"class="btn btn-warning" style="color: black" data-toggle="modal" data-target="#myModal">View Details</button>
								<div class="modal fade" id="myModal" role="dialog">
									<div class="modal-dialog">
									<!-- Modal content-->      
										<div class="modal-content">

											<div class="modal-header">
												<h4 class="modal-title">Book Details</h4>
											</div>

											<div class="modal-body">
												<div class="container-fluid">
													<div class="row">

														<div class="col">
															<img class="thumbnail" src="{% static 'images/bc.png' %}" width="100" height="150" alt="">
																<div>
																	<button type="button" class="btn btn-circ"><i class="fa fa-book" aria-hidden="true"></i></button>
																	<button type="button" class="btn btn-circ"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
																	<button type="button" class="btn btn-circ"><i class="fa fa-download" aria-hidden="true"></i></button>
																</div>
														</div>

														<div class="col">
															<span class="author">John Doe</span>
															<div class="title"> Modern Achitecture</div>
															<div class="year">Lorem ipsum</div>
															<br>
															<div>
															Sypnosis:
																<div class="summary" style="text-align: justify;">
																Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
																</div>
															</div>
														</div>

													</div>
												</div>
											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
											</div>

										</div>
									</div>
								</div> 
								<!--Modal Delete-->
								<button type="button"class="btn btn-warning" style="color: black" data-toggle="modal" data-target="#ModalDelete">Delete</button>
									<div class="modal fade" id="ModalDelete" role="dialog">
										<div class="modal-dialog">
										<!-- Modal Delete-->      
											<div class="modal-content">
												<div class="modal-header">
													<h4 class="modal-title">Book Delete</h4>
												</div>

												<div class="modal-body">
													<p>Are you sure you want to delete this?</p>
												</div>

												<div class="modal-footer">
													<button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>
	                                              	<button type="button" class="btn btn-danger">YES</button>
												</div>
											</div>
										</div>
									</div>
									<!--Audio-->
									<a type="button" class="btn btn-warning btn-circle">
										<i class="fa fa-volume-up" style="color:maroon"></i>
									</a>
							</div>
						</div>
					</div>
					<div class="col"></div> 
					<div class="col">
						<div class="d-flex flex-row-reverse">
							<div class="row1">
								<div class="d-flex flex-row-reverse">
									{% for user in users %}
										
										<button  type="button" data-toggle="modal" data-target="#ModalEdit-{{uer.user_id}}" class='fa fa-edit'style='font-size:20px; color: white'></button>

										<div class="modal fade" id="ModalEdit-{{uer.user_id}}" role="dialog" aria-hidden="true">
											<div class="modal-dialog">
											<!-- Modal Edit-->  
												<div class="modal-content">
													<div class="modal-header">
														<h4 class="modal-title">Profile Details</h4>
													</div>
													
													<div class="modal-body" value = "{{user.user_id}}">
														<div class = "row col-12">
																<form method="POST">
	                    											{% csrf_token %}
												                    <div class ="row col-12">
												                        <div class="txt_field col-sm-6">
												                            <input type="text required" name="firstname" value = "{{user.firstname}}">
												                            <span></span>
												                            <label>First Name</label>
												                        </div>
												                        <div class="txt_field col-sm-6">
												                            <input type="text required" name="lastname" value = "{{user.lastname}}">
												                            <span></span>
												                            <div class=" d-flex justify-content-center">
												                                <label>Last Name</label>
												                            </div>
												                        </div>
												                    </div>
												                    
												                    <div class="txt_field">
												                        <div class="col-md-9">
												                            <input type="date" name="birthdate" value = "{{user.birthdate}}">
												                        </div>
												                        <span></span>
												                        <label>Birthdate</label>
												                    </div>
												                    <div class="txt_field">
												                        <input type="text required" name="contact_number" value = "{{user.contact_number}}">
												                        <span></span>
												                        <label>Contact No.</label>
												                    </div>
												                    <div class="txt_field">
												                        <input type="text required" name="email"  value = "{{user.email}}">
												                        <span></span>
												                        <label>Email</label>
												                    </div>
												                    <div class="txt_field">
												                        <label>Gender</label>
												                    </div>
												                    <div class="radio_field row col-12">
												                        <div class="col-6 d-flex justify-content-center">
												                            <input class="mt-2 mr-1" type="radio" id="male" name="gender"  value = "{{user.gender}}">
												                            <label for="male">Male</label>
												                        </div>
												                        <div class="col-6 d-flex justify-content-center">
												                            <input class="mt-2 mr-1" type="radio" id="female" name="gender" value = "{{user.gender}}">
												                                <label for="female">Female</label>
												                        </div>
												                    </div>
												                    <div class="txt_field">
												                        <input type="text required" name="user_id" value = "{{user.user_id}}">
												                        <span></span>
												                        <label>UserID</label>
												                    </div>
												                    <div class="txt_field">
												                        <input type="password" name="password" value = "{{user.password}}"required>
												                        <span></span>
												                        <label>Password</label>
												                    </div>
												                    <div class="txt_field">
												                        <input type="password" name="confirmpassword" value = "{{user.confirmpassword}}" required>
												                        <span></span>
												                        <label>Confirm Password</label>
												                    </div>  
												                </form>	  		
															</div>
														</div>

														<div class="modal-footer">
															<button type="button" class="btn" data-dismiss="modal">Update</button>
															<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
														</div>
													</div>				      
												</div>
											</div>
										</div>

										<div class="text-center">
											<img  src="{% static 'images/prof.jpg' %}" width="80" height="75" class="rounded-circle">
											<br>
											<br>
											<div class="col-12" style="color: gold" > Jane Doe </div>
											<br>

											<div class="col-12">
												<div class="row" class="botton">
													<div class="col-4">
														<div class="btn btn-warning"> 
															<div class="fa fa-book" style="color:maroon"></div>
														</div>
														<div class="col-4" style="color: white">12</div>
														<div class="col" style='font-size:14px; color: white'>Reads</div>
													</div>

													<div class="col-4">
														<div class="btn btn-warning"> 
															<div class="fa fa-bookmark" style="color:maroon"></div>
														</div>
														<div class="col-4" style="color: white">20</div>
														<div class="row" style='font-size:14px; color: white'>Bookmarks</div>
													</div>

													<div class="col-4">
														<div class="btn btn-warning"> 
															<div class="fa fa-download" style="color:maroon"></div>
														</div>
														<div class="col-4" style="color: white">20</div>
														<div class="row" style='font-size:14px; color: white'>Downloads</div>
													</div>
		  										</div>
											</div>	
										</div>

										<br>
										<br>
										<div class="d-flex justify-content-center">&nbsp;&nbsp;
											<button type="button" class="btn btn-warning" style="color:black">Add Work</button>
										</div>
									{% endfor %}
								</div>
							</div>						
						</div>							
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
