{% extends "base.html" %}
{% block content %}

    <div class ="register">
        <div class= "panel-transparent">
            <div class= "register-body">
                <h1>SIGN UP </h1>
                <form method="post">
                    <div class="radio_field row col-12">
                        <div class="col-6 d-flex justify-content-center">
                            <input class="mt-2 mr-1" type="radio" id="male" name="gender" value="male">
                            <label for="male">Student</label>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <input class="mt-2 mr-1" type="radio" id="female" name="gender" value="female">
                                <label for="female">Faculty</label>
                        </div>
                    </div>
                    <div class ="row col-12">
                        <div class="txt_field col-sm-6">
                            <input type="text required">
                            <span></span>
                            <label>First Name</label>
                        </div>
                        <div class="txt_field col-sm-6">
                            <input type="text required">
                            <span></span>
                            <div class=" d-flex justify-content-center">
                                <label>Last Name</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="txt_field">
                        <div class="col-md-9">
                            <input type="date">
                        </div>
                        <span></span>
                        <label>Birthdate</label>
                    </div>
                    <div class="txt_field">
                        <input type="text required">
                        <span></span>
                        <label>Contact No.</label>
                    </div>
                    <div class="txt_field">
                        <input type="text required">
                        <span></span>
                        <label>Email</label>
                    </div>
                    <div class="txt_field">
                        <label>Gender</label>
                    </div>
                    <div class="radio_field row col-12">
                        <div class="col-6 d-flex justify-content-center">
                            <input class="mt-2 mr-1" type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label>
                        </div>
                        <div class="col-6 d-flex justify-content-center">
                            <input class="mt-2 mr-1" type="radio" id="female" name="gender" value="female">
                                <label for="female">Female</label>
                        </div>
                    </div>
                    <div class="txt_field">
                        <input type="text required">
                        <span></span>
                        <label>UserID (School ID)</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" required>
                        <span></span>
                        <label>Password</label>
                    </div>
                    <div class="txt_field">
                        <input type="password" required>
                        <span></span>
                        <label>Confirm Password</label>
                    </div>
                    <!--checkbox agree to terms-->
                    <input type="submit" value="SIGN UP">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}