body {
			  margin: 0;
			  font-family: Arial, Helvetica, sans-serif;
			}

			.topnav {
			  overflow: hidden;
			  background-color: white;
			}
			.font-weight {
			  font-family: sans-serif;	
			  font-size: 30px;
			  font-color: #000000;
			}
		
			.topnav a {
			  float: left;
			  color: black;
			  text-align: center;
			  padding: 14px 16px;
			 font-family: sans-serif;
			  font-size: 17px;
			}

			.topnav a:hover {
			  background-color: white;
			  color: black;
			}

			.topnav-right {
			  float: right;
			}

			.far{
				background:transparent;
				border: transparent;
			}
			.fas{
				background: w3-black w3-round;
			}

			.container {
			  border-radius: 25px;
			  background: #e7e6d3;
			  padding: 20px; 
			  width: 200px;
			  height: 500px;  
			}

			.row1 {
			  border-radius: 25px;
			  background: #831b1b;
			  padding: 20px; 
			  width: 300px;
			  height: 350px;  
			}

			.images {
			  border-radius: 50%;
			}

				.button{
				background:transparent;
				border: transparent;
			}
